<div class="jumbotron">
  <div class="container">
    <h1>Harnessed: The API for Activism</h1>
    <p><b>Harnessed</b> connects individuals with social movements &amp; organizations to more efficiently improve society.</p>
    <p><a class="btn btn-primary btn-lg" onclick="lock.show();" role="button">Join Now &raquo;</a></p>
  </div>
</div>





<!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <%= image_tag("step_1.jpg", class: "img-circle") %>
          <h2>1. Join in Seconds</h2>
          <p><a onclick="lock.show(); return false;" href="/">Joining</a> only takes two clicks. No need to create a new profile, use any of your social media accounts, and we'll do the rest. We keep your data private and secure, and you can delete your account at any time.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <%= image_tag("step_2.jpg", class: "img-circle") %>
          <h2>2. Find your Tribe</h2>
          <p>Use our search engine to quickly find various social movements and organizations that you find meaningful. We provide them with a link so that they can contact you for help and support.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <%= image_tag("step_3.jpg", class: "img-circle") %>
          <h2>3. Take Action</h2>
          <p>Everyone has something valuable to add—whether it's your time, skills, voice, or ability to stand and protest. Harnesses makes it easy for movements and orgs to quickly bring people together toward a common aim.</p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Social movements are disjointed. <span class="text-muted">But their hearts are in the right place.</span></h2>
          <p class="lead">Modern social movements are scattered and supporters are often involved with several issues at the same time. This is problematic for any grassroots effort with a limited staff, since each movement and organization uses separate systems and can have trouble reaching people on social media.</p>
        </div>
        <div class="col-md-5">
        	<%= image_tag("splash_1.jpg", class: "featurette-image img-responsive center-block") %>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">The API for Activism. <span class="text-muted"> Harnessed is an open source engine of improvement.</span></h2>
          <p class="lead">By using Harnessed, social movements like <a href="https://ourrevolution.com/">Our Revolution</a> and <a href="http://techinclusion.co">Tech Inclusion</a> can quickly connect with supporters around the globe who are ready to take action. We provide a secure link that aggregates supporters and organizes them by region, skills, and availability.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <%= image_tag("splash_2.jpg", class: "featurette-image img-responsive center-block") %>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading"><i>Social</i> Network Effects. <span class="text-muted">Empowering the next generation of change agent.</span></h2>
          <p class="lead">Harnessed is an open source community of motivated volunteers that can be tapped by any movement or organization that aligns with our core values of diversity, inclusion, and personal empowerment.</p>
        </div>
        <div class="col-md-5">
          <%= image_tag("splash_3.jpg", class: "featurette-image img-responsive center-block") %>
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->


      

    </div><!-- /.container -->