<div class="jumbotron">
  <div class="container">
    <h1>Welcome, <%= @user['info']['name'] %></h1>
    <p><ul>
		<li>Profile image: <img class="avatar" src="<%= @user['info']['image'] %>"/></li>
		<li>Name: <%= @user['info']['name'] %></li>
		<li>Screenname: <%= @user['info']['nickname'] %></li>
		<li>User ID: <%= @user['uid'] %></li>
		<li>Date you joined: <%= @user['extra']['raw_info']['created_at'] %></li>
	</ul></p>
  </div>
</div>